<br><br>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default panel-heading">
			<div class="panel-heading">
				<h3><%= @service.title %></h3>
			</div>
			<div class="panel-body">
				<%= image_tag(@service.image.url, :class => "img-responsive") %>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>About This Gig</h3>
			</div>
			<div class="panel-body">
				<p><%= @service.description %></p>
			</div>
		</div>

		<%= render 'reviews/form' if @is_buyer && !@reviewed %>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Reviews</h3>
			</div>
			<%= render 'reviews/list' %>
		</div>
	</div>

	<div class="col-md-4">
		<%= render 'orders/form' %>

		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="pull-left">
					<%= pluralize(@reviews.count, "Buyer Review")%>
				</h5>
				<h4 class="pull-right">
					<%= @service.average_rating %>
				</h4>
				<div id="average_rating" class="pull-right img-average-rating-stars"></div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<center>
					<h3><%= @service.user.full_name %></h3>
				</center>
			</div>
			<div class="panel-body">
				<%= @service.user.description %>
			</div>
		</div>
	</div>
</div>

<script>
	$('#average_rating').raty({
		path: '/assets',
		readOnly: true,
		score: <%= @service.average_rating %>
	});
</script>
	
