<div class="hero">
	<div class="container">
		<div class="row">
			<div class="hero-heading">
				<h1>What do you need done?</h1>
				<p>Browse. Buy. Done</p>
			</div>
		</div>
		<%= render 'search/form' %>
	</div>
</div>
<div class="container section">
	<h1>Newest Gigs</h1>
		<div class="row">
			<% @services.each do |service| %>
				<div class="col-md-3">
					<%= link_to(service) do %>
					<div class="gig-card">
						<center><%= image_tag service.image.url(:small) %></center>
						<h4><%= service.title %></h4>
						<h3><%= number_to_currency(service.price) %></h3>
					</div>
					<% end %>
				</div>
			<% end %>
</div>